repos:
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v17.0.6
  hooks:
  - id: clang-format
    files: ^src\/.+\.[ch]$
    exclude: ^(src\/fortran\/matio_internal.c|src\/snprintf.c|src\/safe-math.h)$

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
    files: ^src\/.+\.[ch]$
  - id: end-of-file-fixer
    files: ^src\/.+\.[ch]$
  - id: fix-byte-order-marker
    files: ^src\/.+\.[ch]$

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    args:
    - --line-width=120
    - --tab-size=4
    exclude: cmake/conan.cmake
  - id: cmake-lint
    args:
    - --line-width=120
    - --tab-size=4
    - --disabled-codes=C0103
    exclude: cmake/conan.cmake
